-- =============================================
-- PKO Server Database Login Setup
-- Run this AFTER creating both databases
-- =============================================
USE [master];
GO

-- =============================================
-- Create SQL Logins
-- =============================================
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = 'pko_account')
BEGIN
    CREATE LOGIN pko_account WITH PASSWORD = 'Y87dc#$98', DEFAULT_DATABASE = AccountServer;
    PRINT 'Created login: pko_account';
END
ELSE
    PRINT 'Login pko_account already exists';
GO

IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = 'pko_game')
BEGIN
    CREATE LOGIN pko_game WITH PASSWORD = 'Y87dc#$98', DEFAULT_DATABASE = GameDB;
    PRINT 'Created login: pko_game';
END
ELSE
    PRINT 'Login pko_game already exists';
GO

-- =============================================
-- Setup AccountServer Database Permissions
-- =============================================
USE [AccountServer];
GO

IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = 'pko_account')
BEGIN
    CREATE USER pko_account FOR LOGIN pko_account;
    PRINT 'Created user pko_account in AccountServer';
END
GO

-- Add to db_owner role for full permissions
ALTER ROLE db_owner ADD MEMBER pko_account;
PRINT 'pko_account added to db_owner role in AccountServer';
GO

-- Grant explicit permissions as backup (in case db_owner doesn't work)
GRANT SELECT, INSERT, UPDATE, DELETE ON SCHEMA::dbo TO pko_account;
GRANT EXECUTE ON SCHEMA::dbo TO pko_account;
PRINT 'Explicit permissions granted to pko_account in AccountServer';
GO

-- =============================================
-- Setup GameDB Database Permissions
-- =============================================
USE [GameDB];
GO

IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = 'pko_game')
BEGIN
    CREATE USER pko_game FOR LOGIN pko_game;
    PRINT 'Created user pko_game in GameDB';
END
GO

-- Add to db_owner role for full permissions
ALTER ROLE db_owner ADD MEMBER pko_game;
PRINT 'pko_game added to db_owner role in GameDB';
GO

-- Grant explicit permissions as backup (in case db_owner doesn't work)
GRANT SELECT, INSERT, UPDATE, DELETE ON SCHEMA::dbo TO pko_game;
GRANT EXECUTE ON SCHEMA::dbo TO pko_game;
PRINT 'Explicit permissions granted to pko_game in GameDB';
GO

-- =============================================
-- Verify Setup
-- =============================================
PRINT '';
PRINT '=== Verification ===';

USE [AccountServer];
SELECT 'AccountServer' AS [Database], dp.name AS [User], r.name AS [Role]
FROM sys.database_principals dp
JOIN sys.database_role_members drm ON dp.principal_id = drm.member_principal_id
JOIN sys.database_principals r ON drm.role_principal_id = r.principal_id
WHERE dp.name = 'pko_account';

USE [GameDB];
SELECT 'GameDB' AS [Database], dp.name AS [User], r.name AS [Role]
FROM sys.database_principals dp
JOIN sys.database_role_members drm ON dp.principal_id = drm.member_principal_id
JOIN sys.database_principals r ON drm.role_principal_id = r.principal_id
WHERE dp.name = 'pko_game';

GO

PRINT '';
PRINT '=== SQL Login Setup Complete ===';
PRINT 'Both pko_account and pko_game have db_owner permissions';
GO