USE [master]
GO
CREATE DATABASE [AccountServer]
GO
USE [AccountServer]
GO
SET
ANSI_NULLS ON
GO
SET
QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account_charge] (
  [id] [int] NOT NULL,
  [charge_flag] [int] NULL,
  [charge_begin_tick] [int] NULL,
  [charge_end_tick] [int] NULL,
  [saves] [int] NULL,
  CONSTRAINT [PK_account_charge] PRIMARY KEY CLUSTERED ([id] ASC) WITH (
  PAD_INDEX = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  IGNORE_DUP_KEY = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON
  ) ON [PRIMARY]
) ON [PRIMARY]
GO
SET
ANSI_NULLS ON
GO
SET
QUOTED_IDENTIFIER ON
GO
SET
ANSI_PADDING ON
GO
CREATE TABLE [dbo].[account_details] (
  [acc_id] [int] NOT NULL,
  [vipstatus] [datetime] NULL,
  [squestion] [varchar](50) NOT NULL,
  [answer] [varchar](50) NOT NULL,
  [email] [varchar](100) NOT NULL,
  [gender] [int] NOT NULL,
  [credit] [float] NOT NULL,
  [truename] [varchar](50) NOT NULL,
  [birthday] [datetime] NOT NULL,
  [contact] [varchar](50) NOT NULL,
  [country] [varchar](50) NOT NULL,
  [ipaddr] [varchar](50) NOT NULL,
  [ip2country] [varchar](50) NOT NULL,
  [activated] [int] NOT NULL,
  [actcode] [varchar](20) NULL,
  [invtcode] [varchar](50) NULL,
  [reference] [int] NULL,
  [create_time] [datetime] NOT NULL,
  CONSTRAINT [PK_account_details] PRIMARY KEY CLUSTERED ([acc_id] ASC) WITH (
  PAD_INDEX = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  IGNORE_DUP_KEY = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON
  ) ON [PRIMARY]
) ON [PRIMARY]
GO
SET
ANSI_PADDING OFF
GO
SET
ANSI_NULLS ON
GO
SET
QUOTED_IDENTIFIER ON
GO
SET
ANSI_PADDING ON
GO
CREATE TABLE [dbo].[account_invt] (
  [inv_id] [int] IDENTITY (1, 1) NOT NULL,
  [invt_code] [varchar](50) NOT NULL,
  [assignto] [varchar](50) NULL,
  [used] [int] NOT NULL,
  CONSTRAINT [PK_account_invt] PRIMARY KEY CLUSTERED ([inv_id] ASC) WITH (
  PAD_INDEX = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  IGNORE_DUP_KEY = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON
  ) ON [PRIMARY]
) ON [PRIMARY]
GO
SET
ANSI_PADDING OFF
GO
SET
ANSI_NULLS ON
GO
SET
QUOTED_IDENTIFIER ON
GO
SET
ANSI_PADDING ON
GO
CREATE TABLE [dbo].[account_login] (
  [id] [int] IDENTITY (1, 1) NOT NULL,
  [name] [varchar](50) NULL,
  [password] [varchar](255) NULL,
  [originalPassword] [varchar](50) NULL,
  [sid] [int] NOT NULL CONSTRAINT [DF_account_login_sid] DEFAULT ((0)),
  [login_status] [int] NULL CONSTRAINT [DF_account_login_login_status] DEFAULT ((0)),
  [enable_login_tick] [bigint] NULL CONSTRAINT [DF_account_login_enable_login_tick] DEFAULT ((0)),
  [login_group] [varchar](50) NULL,
  [last_login_time] [datetime] NULL CONSTRAINT [DF_account_login_last_login_time] DEFAULT (GETDATE()),
  [last_logout_time] [datetime] NULL CONSTRAINT [DF_account_login_last_logout_time] DEFAULT (GETDATE()),
  [last_login_ip] [varchar](50) NULL,
  [enable_login_time] [datetime] NULL CONSTRAINT [DF_account_login_enable_login_time] DEFAULT ('2001-1-1 1:1:1'),
  [total_live_time] [bigint] NOT NULL CONSTRAINT [DF_account_login_total_live_time] DEFAULT ((0)),
  [last_login_mac] [varchar](50) NULL,
  [ban] [bit] NULL,
  [email] [varchar](50) NULL,
  CONSTRAINT [PK_account_login] PRIMARY KEY CLUSTERED ([id] ASC) WITH (
  PAD_INDEX = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  IGNORE_DUP_KEY = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON
  ) ON [PRIMARY],
  CONSTRAINT [IX_account_login] UNIQUE NONCLUSTERED ([name] ASC) WITH (
  PAD_INDEX = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  IGNORE_DUP_KEY = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON
  ) ON [PRIMARY],
  CONSTRAINT [IX_account_login_name] UNIQUE NONCLUSTERED ([name] ASC) WITH (
  PAD_INDEX = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  IGNORE_DUP_KEY = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON
  ) ON [PRIMARY]
) ON [PRIMARY]
GO
SET
ANSI_PADDING OFF
GO
SET
ANSI_NULLS ON
GO
SET
QUOTED_IDENTIFIER ON
GO
SET
ANSI_PADDING ON
GO
CREATE TABLE [dbo].[account_pending] (
  [acc_id] [int] IDENTITY (1, 1) NOT NULL,
  [name] [varchar](50) NOT NULL,
  [password] [varchar](50) NOT NULL,
  [squestion] [varchar](100) NOT NULL,
  [answer] [varchar](100) NOT NULL,
  [email] [varchar](100) NOT NULL,
  [gender] [int] NOT NULL,
  [truename] [varchar](100) NOT NULL,
  [birthday] [datetime] NOT NULL,
  [contact] [varchar](50) NOT NULL,
  [country] [varchar](50) NOT NULL,
  [ipaddr] [varchar](50) NOT NULL,
  [ip2country] [varchar](50) NOT NULL,
  [actcode] [varchar](50) NULL,
  [invtcode] [varchar](50) NULL,
  [reference] [int] NULL,
  [create_time] [datetime] NOT NULL,
  CONSTRAINT [PK_account_pending] PRIMARY KEY CLUSTERED ([acc_id] ASC) WITH (
  PAD_INDEX = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  IGNORE_DUP_KEY = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON
  ) ON [PRIMARY]
) ON [PRIMARY]
GO
SET
ANSI_PADDING OFF
GO
SET
ANSI_NULLS ON
GO
SET
QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameDBServerList] (
  [server_section] [int] NOT NULL,
  [server_ip] [nvarchar](128) NOT NULL,
  [server_uid] [nvarchar](128) NOT NULL,
  [server_pwd] [nvarchar](128) NOT NULL,
  [server_db] [nvarchar](128) NOT NULL
) ON [PRIMARY]
GO
SET
ANSI_NULLS ON
GO
SET
QUOTED_IDENTIFIER ON
GO
SET
ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LogRandomAccount] (
  [accountName] [varchar](50) NOT NULL,
  [addDate] [datetime] NULL,
  [expireDate] [datetime] NULL,
  [ip] [varchar](15) NULL,
  [plainPassword] [varchar](32) NULL,
  CONSTRAINT [PK_LogRandomAccount] PRIMARY KEY CLUSTERED ([accountName] ASC) WITH (
  PAD_INDEX = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  IGNORE_DUP_KEY = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON
  ) ON [PRIMARY]
) ON [PRIMARY]
GO
SET
ANSI_PADDING OFF
GO
SET
ANSI_NULLS ON
GO
SET
QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[safety] (
  [aid] [bigint] IDENTITY (1, 1) NOT NULL,
  [allowIP] [nvarchar](32) NOT NULL,
  CONSTRAINT [PK_safety] PRIMARY KEY CLUSTERED ([aid] ASC) WITH (
  PAD_INDEX = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  IGNORE_DUP_KEY = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON
  ) ON [PRIMARY]
) ON [PRIMARY]
GO
SET
ANSI_NULLS ON
GO
SET
QUOTED_IDENTIFIER ON
GO
SET
ANSI_PADDING ON
GO
CREATE TABLE [dbo].[server_group] (
  [sgid] [int] IDENTITY (1, 1) NOT NULL,
  [group_name] [varchar](50) NOT NULL,
  CONSTRAINT [PK_server_group] PRIMARY KEY CLUSTERED ([sgid] ASC) WITH (
  PAD_INDEX = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  IGNORE_DUP_KEY = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON
  ) ON [PRIMARY]
) ON [PRIMARY]
GO
SET
ANSI_PADDING OFF
GO
SET
ANSI_NULLS ON
GO
SET
QUOTED_IDENTIFIER ON
GO
SET
ANSI_PADDING ON
GO
CREATE TABLE [dbo].[server_list] (
  [slid] [int] IDENTITY (1, 1) NOT NULL,
  [sgid] [int] NOT NULL,
  [server_name] [varchar](50) NOT NULL,
  CONSTRAINT [PK_server_list2] PRIMARY KEY CLUSTERED ([slid] ASC) WITH (
  PAD_INDEX = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  IGNORE_DUP_KEY = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON
  ) ON [PRIMARY]
) ON [PRIMARY]
GO
SET
ANSI_PADDING OFF
GO
SET
ANSI_NULLS ON
GO
SET
QUOTED_IDENTIFIER ON
GO
SET
ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TradeRecord] (
  [record_id] [varchar](50) NOT NULL,
  [record_message] [int] NOT NULL,
  [record_section] [int] NOT NULL,
  [record_info] [nvarchar](4000) NOT NULL,
  [record_time] [datetime] NOT NULL,
  [ret_info] [nvarchar](4000) NOT NULL,
  [ret_time] [datetime] NOT NULL,
  [state] [int] NOT NULL
) ON [PRIMARY]
GO
SET
ANSI_PADDING OFF
GO
SET
ANSI_NULLS ON
GO
SET
QUOTED_IDENTIFIER ON
GO
SET
ANSI_PADDING ON
GO
CREATE TABLE [dbo].[user_log] (
  [log_id] [int] IDENTITY (1, 1) NOT NULL,
  [user_id] [int] NOT NULL,
  [user_name] [varchar](50) NOT NULL,
  [login_time] [datetime] NULL,
  [logout_time] [datetime] NULL,
  [login_ip] [varchar](20) NULL
) ON [PRIMARY]
GO
SET
ANSI_PADDING OFF
GO
ALTER TABLE
[dbo].[account_details]
ADD
CONSTRAINT [DF_account_details_vipstatus] DEFAULT (((1) / (1)) / (1970)) FOR [vipstatus]
GO
ALTER TABLE
[dbo].[account_details]
ADD
CONSTRAINT [DF_account_details_gender] DEFAULT ((0)) FOR [gender]
GO
ALTER TABLE
[dbo].[account_details]
ADD
CONSTRAINT [DF_account_details_credit] DEFAULT ((0)) FOR [credit]
GO
ALTER TABLE
[dbo].[account_details]
ADD
CONSTRAINT [DF_account_details_activated] DEFAULT ((0)) FOR [activated]
GO
ALTER TABLE
[dbo].[account_pending]
ADD
CONSTRAINT [DF_account_pending_gender] DEFAULT ((0)) FOR [gender]
GO
-- =============================================
-- STORED PROCEDURES
-- =============================================

-- =============================================
-- Procedure: InsertNewUser
-- Description: Creates a new user account
-- Parameters:
--   @username - Account username
--   @password - Account password (hashed)
--   @email - User email address
-- =============================================
IF OBJECT_ID('dbo.InsertNewUser', 'P') IS NOT NULL
    DROP PROCEDURE dbo.InsertNewUser
GO

CREATE PROCEDURE [dbo].[InsertNewUser]
    @username VARCHAR(50),
    @password VARCHAR(255),
    @email VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Check if username already exists
    IF EXISTS (SELECT 1 FROM account_login WHERE name = @username)
    BEGIN
        RAISERROR('Username already exists', 16, 1);
        RETURN -1;
    END
    
    -- Insert new account
    INSERT INTO account_login (name, password, email, login_status, enable_login_tick, last_login_time, last_logout_time, total_live_time, ban)
    VALUES (@username, @password, @email, 0, 0, GETDATE(), GETDATE(), 0, 0);
    
    -- Return the new account ID
    SELECT SCOPE_IDENTITY() AS NewAccountId;
    
    RETURN 0;
END
GO

-- =============================================
-- Procedure: UpdateUserPassword
-- Description: Updates a user's password
-- Parameters:
--   @username - Account username
--   @newpassword - New password (hashed)
-- =============================================
IF OBJECT_ID('dbo.UpdateUserPassword', 'P') IS NOT NULL
    DROP PROCEDURE dbo.UpdateUserPassword
GO

CREATE PROCEDURE [dbo].[UpdateUserPassword]
    @username VARCHAR(50),
    @newpassword VARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Check if user exists
    IF NOT EXISTS (SELECT 1 FROM account_login WHERE name = @username)
    BEGIN
        RAISERROR('User not found', 16, 1);
        RETURN -1;
    END
    
    -- Update password
    UPDATE account_login 
    SET password = @newpassword
    WHERE name = @username;
    
    RETURN 0;
END
GO

-- =============================================
-- Procedure: InsertUserLogin
-- Description: Records a user login event
-- Parameters:
--   @userId - User account ID
--   @userName - Account username
--   @loginIP - IP address of login
-- =============================================
IF OBJECT_ID('dbo.InsertUserLogin', 'P') IS NOT NULL
    DROP PROCEDURE dbo.InsertUserLogin
GO

CREATE PROCEDURE [dbo].[InsertUserLogin]
    @userId VARCHAR(32),
    @userName VARCHAR(50),
    @loginIP VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @userIdInt INT = CAST(@userId AS INT);
    
    -- Insert login record into user_log
    INSERT INTO user_log (user_id, user_name, login_time, login_ip)
    VALUES (@userIdInt, @userName, GETDATE(), @loginIP);
    
    -- Update account_login with last login info
    UPDATE account_login
    SET last_login_time = GETDATE(),
        last_login_ip = @loginIP,
        login_status = 1
    WHERE id = @userIdInt OR name = @userName;
    
    RETURN 0;
END
GO

-- =============================================
-- Procedure: UpdateUserLogout
-- Description: Records a user logout event
-- Parameters:
--   @userId - User account ID (as string, will be converted)
-- =============================================
IF OBJECT_ID('dbo.UpdateUserLogout', 'P') IS NOT NULL
    DROP PROCEDURE dbo.UpdateUserLogout
GO

CREATE PROCEDURE [dbo].[UpdateUserLogout]
    @userId VARCHAR(32)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @userIdInt INT = CAST(@userId AS INT);
    DECLARE @loginTime DATETIME;
    DECLARE @sessionTime BIGINT;
    
    -- Get the login time from the most recent log entry
    SELECT TOP 1 @loginTime = login_time
    FROM user_log
    WHERE user_id = @userIdInt AND logout_time IS NULL
    ORDER BY log_id DESC;
    
    -- Calculate session duration in seconds
    IF @loginTime IS NOT NULL
        SET @sessionTime = DATEDIFF(SECOND, @loginTime, GETDATE());
    ELSE
        SET @sessionTime = 0;
    
    -- Update logout time in user_log
    UPDATE user_log
    SET logout_time = GETDATE()
    WHERE user_id = @userIdInt AND logout_time IS NULL;
    
    -- Update account_login status and total live time
    UPDATE account_login
    SET last_logout_time = GETDATE(),
        login_status = 0,
        total_live_time = total_live_time + @sessionTime
    WHERE id = @userIdInt;
    
    RETURN 0;
END
GO

-- =============================================
-- Procedure: GetAccountInfo
-- Description: Retrieves account information by username
-- Parameters:
--   @userName - Account username
-- Returns: Account info including id, name, password, ban status, etc.
-- =============================================
IF OBJECT_ID('dbo.GetAccountInfo', 'P') IS NOT NULL
    DROP PROCEDURE dbo.GetAccountInfo
GO

CREATE PROCEDURE [dbo].[GetAccountInfo]
    @userName VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        id,
        name,
        password,
        sid,
        login_status,
        enable_login_tick,
        login_group,
        last_login_time,
        last_logout_time,
        last_login_ip,
        enable_login_time,
        total_live_time,
        last_login_mac,
        ban,
        email
    FROM account_login
    WHERE name = @userName;
    
    RETURN 0;
END
GO

-- =============================================
-- Procedure: OperAccountBan
-- Description: Bans or unbans a user account
-- Parameters:
--   @actName - Account username
--   @iBan - Ban status (1 = ban, 0 = unban)
-- =============================================
IF OBJECT_ID('dbo.OperAccountBan', 'P') IS NOT NULL
    DROP PROCEDURE dbo.OperAccountBan
GO

CREATE PROCEDURE [dbo].[OperAccountBan]
    @actName VARCHAR(50),
    @iBan INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Check if account exists
    IF NOT EXISTS (SELECT 1 FROM account_login WHERE name = @actName)
    BEGIN
        RAISERROR('Account not found', 16, 1);
        RETURN -1;
    END
    
    -- Update ban status
    UPDATE account_login
    SET ban = CASE WHEN @iBan = 0 THEN 0 ELSE 1 END
    WHERE name = @actName;
    
    RETURN 0;
END
GO

-- =============================================
-- Procedure: ValidateUserLogin
-- Description: Validates user credentials for login
-- Parameters:
--   @username - Account username
--   @password - Account password (hashed)
-- Returns: User info if valid, empty if invalid
-- =============================================
IF OBJECT_ID('dbo.ValidateUserLogin', 'P') IS NOT NULL
    DROP PROCEDURE dbo.ValidateUserLogin
GO

CREATE PROCEDURE [dbo].[ValidateUserLogin]
    @username VARCHAR(50),
    @password VARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Check if account is banned
    IF EXISTS (SELECT 1 FROM account_login WHERE name = @username AND ban = 1)
    BEGIN
        SELECT -2 AS Result, 'Account is banned' AS Message;
        RETURN -2;
    END
    
    -- Validate credentials
    IF EXISTS (SELECT 1 FROM account_login WHERE name = @username AND password = @password)
    BEGIN
        SELECT 
            0 AS Result,
            'Success' AS Message,
            id,
            name,
            login_group,
            sid
        FROM account_login
        WHERE name = @username AND password = @password;
        RETURN 0;
    END
    ELSE
    BEGIN
        SELECT -1 AS Result, 'Invalid username or password' AS Message;
        RETURN -1;
    END
END
GO

-- =============================================
-- Procedure: UpdateLastLoginMac
-- Description: Updates the last login MAC address
-- Parameters:
--   @userId - User account ID
--   @mac - MAC address
-- =============================================
IF OBJECT_ID('dbo.UpdateLastLoginMac', 'P') IS NOT NULL
    DROP PROCEDURE dbo.UpdateLastLoginMac
GO

CREATE PROCEDURE [dbo].[UpdateLastLoginMac]
    @userId INT,
    @mac VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE account_login
    SET last_login_mac = @mac
    WHERE id = @userId;
    
    RETURN 0;
END
GO

-- =============================================
-- Procedure: GetServerList
-- Description: Gets the list of available game servers
-- Returns: Server group and server list information
-- =============================================
IF OBJECT_ID('dbo.GetServerList', 'P') IS NOT NULL
    DROP PROCEDURE dbo.GetServerList
GO

CREATE PROCEDURE [dbo].[GetServerList]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        sg.sgid AS GroupId,
        sg.group_name AS GroupName,
        sl.slid AS ServerId,
        sl.server_name AS ServerName
    FROM server_group sg
    LEFT JOIN server_list sl ON sg.sgid = sl.sgid
    ORDER BY sg.sgid, sl.slid;
    
    RETURN 0;
END
GO

-- =============================================
-- Procedure: CheckUsernameExists
-- Description: Checks if a username already exists
-- Parameters:
--   @username - Username to check
-- Returns: 1 if exists, 0 if not
-- =============================================
IF OBJECT_ID('dbo.CheckUsernameExists', 'P') IS NOT NULL
    DROP PROCEDURE dbo.CheckUsernameExists
GO

CREATE PROCEDURE [dbo].[CheckUsernameExists]
    @username VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    IF EXISTS (SELECT 1 FROM account_login WHERE name = @username)
        SELECT 1 AS [Exists];
    ELSE
        SELECT 0 AS [Exists];
    
    RETURN 0;
END
GO

-- =============================================
-- Procedure: QueryAccount
-- Description: Queries account information for login authentication
-- Parameters:
--   @name - Account username
-- Returns: id, password, sid, login_status, login_group, ban, protect_time
-- Note: Used by AccountServer2.cpp stored_procedure call
-- =============================================
IF OBJECT_ID('dbo.QueryAccount', 'P') IS NOT NULL
    DROP PROCEDURE dbo.QueryAccount
GO

CREATE PROCEDURE [dbo].[QueryAccount]
    @name VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        id, 
        password, 
        sid, 
        login_status, 
        login_group, 
        ban, 
        DATEDIFF(s, enable_login_time, GETDATE()) AS protect_time
    FROM account_login 
    WHERE name = @name;
END
GO

-- =============================================
-- Procedure: AccountLogin
-- Description: Updates account login status
-- Handles: Normal login (OFFLINE -> ONLINE), Relogin (ONLINE -> SAVING), Save complete (SAVING -> ONLINE)
-- Parameters:
--   @login_status - New login status
--   @login_group - GroupServer name
--   @login_mac - Client MAC address
--   @login_ip - Client IP address
--   @id - Account ID
-- Note: Used by AccountServer2.cpp stored_procedure call
-- =============================================
IF OBJECT_ID('dbo.AccountLogin', 'P') IS NOT NULL
    DROP PROCEDURE dbo.AccountLogin
GO

CREATE PROCEDURE [dbo].[AccountLogin]
    @login_status INT,
    @login_group VARCHAR(50),
    @login_mac VARCHAR(50),
    @login_ip VARCHAR(50),
    @id INT
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE account_login 
    SET login_status = @login_status, 
        login_group = @login_group, 
        enable_login_time = GETDATE(), 
        last_login_time = GETDATE(), 
        last_login_mac = @login_mac, 
        last_login_ip = @login_ip 
    WHERE id = @id;
    
    RETURN @@ROWCOUNT;
END
GO

-- =============================================
-- Procedure: AccountLogout
-- Description: Updates account on logout
-- Parameters:
--   @login_status - New login status (ACCOUNT_OFFLINE)
--   @id - Account ID
-- Note: Used by AccountServer2.cpp stored_procedure call
-- =============================================
IF OBJECT_ID('dbo.AccountLogout', 'P') IS NOT NULL
    DROP PROCEDURE dbo.AccountLogout
GO

CREATE PROCEDURE [dbo].[AccountLogout]
    @login_status INT,
    @id INT
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE account_login 
    SET login_status = @login_status, 
        login_group = '', 
        enable_login_time = GETDATE(), 
        last_logout_time = GETDATE(), 
        total_live_time = total_live_time + DATEDIFF(SECOND, last_login_time, GETDATE()) 
    WHERE id = @id;
    
    RETURN @@ROWCOUNT;
END
GO

PRINT ''
PRINT '=== AccountServer Stored Procedures Created ==='
PRINT 'InsertNewUser, UpdateUserPassword, InsertUserLogin, UpdateUserLogout,'
PRINT 'GetAccountInfo, OperAccountBan, ValidateUserLogin, UpdateLastLoginMac,'
PRINT 'GetServerList, CheckUsernameExists, QueryAccount, AccountLogin, AccountLogout'
GO

USE [master]
GO
ALTER DATABASE [AccountServer]
SET
READ_WRITE
GO